<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>springwiz</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body ng-app="sliderPuzzle" ng-controller="gameCtrl" ng-init="init()">
    <div class="slidingpuzzleContainer">
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[0][0])">{{nodes[0][0].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[0][1])">{{nodes[0][1].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[0][2])">{{nodes[0][2].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[1][0])">{{nodes[1][0].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[1][1])">{{nodes[1][1].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[1][2])">{{nodes[1][2].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[2][0])">{{nodes[2][0].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[2][1])">{{nodes[2][1].value}}</button>
      <button type="button" name="button" id="sample" ng-click="moveBlock(nodes[2][2])">{{nodes[2][2].value}}</button>
    </div>


    <h1>vidya</h1>
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="./scripts/scripts.js"></script>
    <script type="text/javascript" src="./scripts/sliderpuzzle.js"></script>

    </script>
  </body>
</html>
